.infoBookContainer{
    margin-top: 150px;
    padding: 50px;
    background-color: #d8c3a45f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.InfoBook{
    padding: 20px;
    display: inline-block;
}
.InfoBook > div{
    padding: 6px;
    /* display: inline-block; */
}
.bookName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #505050;
}
.AuthorsUpperText {
    /* padding: 100px 0 0 100px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #505050;
}
.bookHead {
    /* image 69 */
    width: 300px; /* Задаем максимальную ширину изображения по ширине контейнера */
    height: auto;
    /* position: absolute; */
    /* width: 150px; */
    /* height: 600px; */
    left: 400px;
    top: 271px;
    /* background: url(image.png); */
    border-radius: 5px;
    /* border: solid 2px black; */
    padding: 20px;
    margin-top: 20px
}

.bookAuthor {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #505050;
    text-decoration: none;
}
.genreBook {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 200px;
    /* min-height: 25px; */

    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat';
    border: 2px solid #D8C3A4;
    border-radius: 20px 20px;
    text-align: center;
    background-color: #D8C3A4;
    color: #505050;
}
.bookDescription {
    /* position: absolute; */
    max-width: 400px;
    min-width: 200px;
    max-height: 300px;
    min-height: 50px;
    background-color: #f9f9f9; /* Цвет фона блока */
    border: 1px solid #ddd; /* Граница блока */
    border-radius: 8px; /* Скругленные углы */
    padding: 20px; /* Внутренние отступы */
    /* Внешние отступы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока */
    font-family: Arial, sans-serif; /* Шрифт текста */
    color: #333; /* Цвет текста */
    line-height: 1.6;
    word-wrap: break-word;
}
